/* dark color rgba(14, 26, 43, 1) */
/* light color rgba(51, 80, 110, 1) */

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right,
        rgba(26, 43, 66, .85),
        rgba(40, 180, 133, .8)),
        url(../assets/outdoor.jpg);
    /* background-position: 0 -100px; */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
    /* color: white; */
}

.big-box {
    border-radius: 10px;
    overflow: hidden;
    margin-top: 160px;
}

.left-side {
    background: rgba(85, 200, 125, 0.9);
    padding: 100px 70px;
}

.company-name {
    color: white;
    text-transform: uppercase;
}

.company-name span {
    display: block;
}

#main {
    font-weight: 600;
    font-size: 4rem;
    letter-spacing: 3px;
}

#second {
    font-weight: 100;
    font-size: 1.2rem;
}

.right-side {
    background: linear-gradient(to bottom, rgba(14, 26, 43, .8), rgba(51, 80, 110, .8));
    padding: 0;
}

.choose-box {
    width: 100%;
    margin-bottom: 70px;
}

.us-btn {
    height: 70px;
    padding: 0;
    background: transparent;
    border: none;
    border-radius: 0;
}

.us-btn:focus {
    box-shadow: none !important;
}

.underline::after {
    content: '';
    position: absolute;
    border-bottom: 2px solid white;
    width: 100%;
    margin-top: -7px;
    margin-left: 50%;
}

.choose-box h5 {
    line-height: 70px;
    letter-spacing: 3px;
}

.input-box {
    margin: 30px 0 0;
    color: white;
    font-size: 1.9rem;
    padding: 0 30px;
}

.form-control {
    border: none;
    border-bottom: 1px solid white;
}

.us-icon {
    margin-right: 10px;
}

.form-check {
    margin-left: 30px;
    color: rgba(255, 255, 255, 0.6);
}

.remember-box {
    margin-top: 50px;
}

.btn.btn-primary {
    width: 81%;
    margin-bottom: 50px !important;
    margin-top: 10px !important;
    margin: auto;
}

.final-btn {
    /* margin-left: 0; */
}

.service {
    margin-top: 70px;
}

.service a {
    display: block;
    color: white;
    margin: 9px;
}

.service a:hover {
    text-decoration: none;
    text-shadow: 1px 1px rgba(255, 255, 255, .6);
}

input {
    background-color: transparent !important;
    color: white !important;
}

input:focus {
    box-shadow: none !important;
    border-bottom: 2px solid white !important;
}

input::placeholder {
    color: rgba(255, 255, 255, .8) !important;
}